*{
    margin: 0;
    padding: 0;
}

.g7{
    width: 100vw;
/* height: 127px; */
gap: 0px;
opacity: 0px;
display: inline-block;
overflow: visible;
position: relative;

}
.g8{
    width: 100vw;
    gap: 0px;
opacity: 0px;

}
.f2{
    /* position: -webkit-sticky; Safari */
  position: absolute;
  top: 0;
  display: inline-block;
  right: 0;
  /* position: sticky; */

  
}
.g2{
    position: relative;
    /* top: 0; */
    display: inline-block;
    left: 1349px;
    top: -1000px;
}